/* header #navbar {
    background: black;
} */

#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    height: 90px;
    overflow: hidden;
}
@media(max-width: 320px) {
    #navbar {
        font-size: 0.9em;
    }
}

#training .items {
    flex-direction: column;
    align-items: flex-end;
}

#training .items .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0rem 1rem;
}

#training .items .container .item:hover {
    height: 100px;
}
#training .item h3 {
    padding: 1rem;
}

#training .item i {
    padding-top: 2rem;
}

@media(max-width: 320px) {

    #home img {
        margin-top: 5rem;
    }
    header.bg-dark-blue {
        width: 100%;
        background: #336ea2;
    }
    #training .items {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 1rem;
    }
    #training .items .item {
        height: fit-content;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    #training .items .item i {
        padding-top: 1rem;
    }
    #training .items .item:hover{
        padding-bottom: 1rem;
        width: fit-content;
        height: fit-content;
        padding-bottom: 0;
        margin-bottom: 0px;
    }
}

#courses .container .course {
    flex-direction: column;
}